html, body, #root {
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

h2 {
  color: #282c34;
}

.loading {
  font-size: 18px;
  color: #888;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }
}